body{
 background-color: pink;
 color: white;
}
.heading {
 width: 80%;
 font-size: 22px;
}
.heading:hover{
 color: white;
 background-color: black;
 width: 90%;
 text-align: center;
}
.name_of_objects{
 color: yellow;
 width: 100%;
}
#camera{
 border: 2px dashed red;
 width: 350px;
 height: 300px;
}
#result {
 border: 2px ridge black;
 width: 350px;
 height: 300px;
}
#result_object_accuracy, #result_object_name{
 color: black;
}
.FMSM{
 width: 100%;
}